header{
    background-color: blueviolet;
    height: 150px;
}
header{
    background-color: cornflowerblue;
    height: 25%;
}
header{
    background-color: indigo;
    height: 50%;
}
header{
    background-color: darkmagenta;
    height: 25%;
}
header{
    background-color: darkorchid;
    height: 100px;
}